<a href="https://colab.research.google.com/github/Gh-Cunha/Projertos-Python/blob/main/C%C3%B3pia_de_DesafioDevPro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Desavio Devpro

Neste notebook vamos resolver vários exercicios da [lista da Python Brasil](https://wiki.python.org.br/ListaDeExercicios)

# [Estrutura Sequencial](https://wiki.python.org.br/EstruturaSequencial)

Exercício 1

In [ ]:
print('Olá Mundo!')

Olá Mundo!

Exercício 2

In [ ]:
numero = input("Digite um número: ")
print(f'O número informado foi {numero}')

Digite um número: 47
O número informado foi 47

Exercício 3

In [ ]:
n1 = int(input('Digite um número: '))
n2 = int(input('Digite outro número: '))
soma = n1 + n2 
print(f'O resultado é {soma}')

Digite um número: 100
Digite outro número: 235
O resultado é 335

Exercício 4

In [ ]:
nota1 = int(input('Digite a primeira nota: '))
nota2 = int(input('Digite a segunda nota: '))
nota3 = int(input('Digite a terceira nota: '))
nota4 = int(input('Digite a quarta nota: '))
media = float(nota1 + nota2 + nota3 + nota4) /4
print(f'a media é: {media}')

Digite a primeira nota: 2
Digite a segunda nota: 5
Digite a terceira nota: 4
Digite a quarta nota: 9
a media é: 5.0

Exercício 5

In [ ]:
metros = float(input('Digite o valor em metros: '))
cent = metros * 100

print(f'a conversão é: {cent}')

Digite o valor em metros: 21
a conversão é: 2100.0

Exercício 6

In [ ]:
raio = float(input('Digite o valor do raio: '))
circuferencia = 2  * 3.14 * raio
print(f'A circunferência do raio e de : {circuferencia}')

Digite o valor do raio: 50
A circunferência do raio e de : 314.0

Exercício 7

In [ ]:
lado = float(input('Digite o  lado do quadrado:  '))
calculo = lado**2
print(f'A área do  quadrado  é: {calculo}')
print(f'o dobro da area do  quadrado é: {calculo*2}')

Digite o  lado do quadrado:  2
A área do  quadrado  é: 4.0
o dobro da area do  quadrado   é: 8.0

Exercício 8

In [ ]:
gh = int(input('Quanto você ganha por hora?: '))
hm = int(input('Horas trabalhadas: '))
print('Seu salário é R$',(hm*gh))

Quanto você ganha por hora?: 20
Horas trabalhadas: 50
Seu salário é R$ 1000

In [ ]:
# mesmo exercício que o de cima , porem feito de outra forma , solução da internet

Vh = float (input('digite o valor da hora trabalhada: '))

Vm = float (input('digite a quantidade de horas trabalhadas no mês: '))

print('Valor Total de horas trabalhadas no mês R$ ', (Vh * Vm))

digite o valor da hora trabalhada: 7
digite a quantidade de horas trabalhadas no mês: 5.6
Valor Total de horas trabalhadas no mês R$  39.199999999999996

exercício 9

In [ ]:
clima_tf = float(input('Digite a temperatura: '))
temperatura_f =  5 * ((clima_tf-32) / 9)
print(f'a temperatura em Celsius é: {temperatura_f}')

Digite a temperatura: 50
a temperatura em Celsius é: 10.0

Exercício 10

In [ ]:
clima_gr = float(input('Digite a temperatura: '))
 
print(f'a temperatura em Fahrenheit é:',(clima_gr * (9/5)+32))

Digite a temperatura: 50
a temperatura em Fahrenheit é: 122.0

Exercício 11

In [ ]:
n1 = int(input('Digite um número inteiro: '))
n2 = int(input('Digite outro número inteiro: '))
n3 = float(input('Digite um número real: '))
op1 = n1 *2, n2 / 2
op2 = n1 *3 + n3
op3 = n3 **3
print(f'o resultado é: {op1}')
print(f'o resultado é: {op2}')
print(f'o resultado é: {op3}')

Digite um número inteiro: 25
Digite outro número inteiro: 10
Digite um número real: 2.6
o resultado é: (50, 5.0)
o resultado é: 77.6
o resultado é: 17.576

Exercício 12

In [ ]:
altura = float(input('Digite sua altura: '))
imc = (72.7 * altura) - 58
print(f'O seu peso ideal é: {imc}')

Digite sua altura: 1.70
O seu peso ideal é: 65.59

exercício 13

In [ ]:
# h  = altura 
# sx = sexo
h= float(input('Digite sua altura: '))
sx = input('digite o seu  sexo: ')
rg = h, sx
if rg:
  imc = (72.7 * h) - 58
  print(f'Altura de um: {sx}')
else:
  imc = (62.1 * h) - 44.7
  print(f'Altura de uma: {sx}')
print(f'O seu peso ideal é: {imc}')

Digite sua altura: 1.68
digite o seu  sexo: homem
Altura de um: homem
O seu peso ideal é: 64.136

Exercício 14  ( fazer outra hora sozinho)

In [ ]:
peso_de_peixes = eval(input('Quantos quiloso peixe tem: '))
if peso_de_peixes > 50:
  peso_excesso = peso_de_peixes - 50
  multa = 4 * peso_excesso
  print(f'Hoje João pescou {peso_de_peixes}Kg de peixes, {peso_excesso}Kg a mais que o estabelecido pelo regulamento e isso gerou uma multa de R${multa:.2f}')
else:
  print(f'Hoje João pescou {peso_de_peixes}Kg de peixes, está dentro do limite estabelecido pelo regulamento')

Quantos quiloso peixe tem: 29
Hoje João pescou 29Kg de peixes, está dentro do limite estabelecido pelo regulamento

Exercício 19

In [ ]:
numero = int(input('Digite um valor: '))
centenas_str = dezenas_str = unidades_str = ''

centenas_int, numero = divmod(numero, 100)

partes_numericas = 0

if centenas_int == 1:
  centenas_str='1 centena'
  partes_numericas += 1
elif centenas_int > 1:
  centenas_str=f'{centenas_int} centenas'
  partes_numericas += 1

dezenas_int, numero = divmod(numero, 10)

if dezenas_int == 1:
  dezenas_str='1 dezena'
  partes_numericas += 1
elif dezenas_int > 1:
  dezenas_str=f'{dezenas_int} dezenas'
  partes_numericas += 1

if numero == 1:
  unidades_str='1 unidade'
  partes_numericas += 1
elif numero > 1:
  unidades_str=f'{numero} unidades'
  partes_numericas += 1

if partes_numericas == 0:
  print('Numero 0 não possui centenas,dezenas ou unidades')
elif partes_numericas == 1:
  print(centenas_str,dezenas_str, unidades_str)
elif partes_numericas == 3:
  print(f'{centenas_str}, {dezenas_str} e {unidades_str}')
elif partes_numericas == 2:
  if centenas_str != '':
    segunda_parte = dezenas_str + unidades_str
    print(f'{centenas_str} e {segunda_parte}')
  else:
    print(f'{dezenas_str} e {unidades_str}')

Digite um valor: 558
5 centenas, 5 dezenas e 8 unidades

Exercício 17 (lembrete , fazer dnv sem olhar o video, realmente tena fazer sozinho).

In [ ]:
import math

area_ser_pintada =int(input('Digite a área, em  metros quadrados a ser pintada: ')) 
# area em metros quadrados
area_com_folga = area_ser_pintada * 1.1
litros_por_metro = 6
litros_a_serem_usados = area_com_folga / litros_por_metro
litros_por_lata = 18
numero_de_latas =math.ceil( litros_a_serem_usados / litros_por_lata)
valor_com_apenas_latas = numero_de_latas * 80
print(f'Você deverá usar {numero_de_latas} latas de 18 litros, no valor de R$ {valor_com_apenas_latas}')

litros_por_galao = 3.6
numero_de_galoes =math.ceil( litros_a_serem_usados / litros_por_galao)
valor_com_apenas_galoes = numero_de_galoes * 25
print(f'Você deverá usar {numero_de_galoes} galões de 3.6 litros, no valor de R$ {valor_com_apenas_galoes}')


# compra de tinta otmizada por valor
numero_de_latas =math.floor( litros_a_serem_usados / litros_por_lata)
valor_de_latas = numero_de_latas * 80
litros_faltantes = litros_a_serem_usados % litros_por_lata
numero_de_galoes =math.ceil( litros_faltantes / litros_por_galao)
valor_com_apenas_galoes = numero_de_galoes * 25

valor_total = valor_de_latas + valor_com_apenas_galoes

print(f'Você deverá usar {numero_de_latas} latas de 18 litros mais {numero_de_galoes} galões de 3.6 litros, no valor de R$ {valor_total}')

# [ Estrutura De Decisão](https://wiki.python.org.br/EstruturaDeDecisao//)

Exercício 1

In [ ]:
pedir_numero = float(input('Digite um número: '))
pedir_numero2 = int(input('Digite outro número: '))
if pedir_numero > pedir_numero2:
  print(f'{pedir_numero} é o maior número')
else:
   print(f'{pedir_numero2} é o maior número')

Digite um número: 15
Digite outro número: 2
15.0 é o maior número

Exercício 2

In [ ]:
peça_um_valor = int(input('Digite um valor'))
if peça_um_valor >= 0:
  print(f'o número {peça_um_valor} é positivo')
else:
  print(f'O  número {peça_um_valor} é negativo')

Digite um valor-50
O  número -50 é negativo

Exercício 3

In [ ]:
sexo = str(input('Digite (F)-Feminino, (M)-Masculino: ').upper())
if sexo == 'F':
  print("Sexo Femiminino")
elif sexo == 'M':
  print('Sexo Masculino')
else:
  print('Sexo Invalido')
# quando  for usar o  recurso  de pegar strings no imput usar o  str

Exercício 4

In [ ]:
letra = str(input('Digite uma letra').lower())
if letra == 'a' or letra == 'e' or letra == 'i' or letra == 'u':
  print('Vogal')
else:
  print('Consoante')
# se for usar a função 'or' repita a variavel varia veses porem na frente do 
# objeto.

Exercício 5

In [ ]:
np1 = float(input('Digite a 1ª nota: '))
np2 = float(input('Digite a 2ª nota: ')) 
cdm = np1 + np2 / 2
if cdm >= 7 and cdm <10:
  print('Aprovado')
elif cdm >= 10:
  print('Aprovado com Distinção')
else:
  print('Reprovado')

Digite a 1ª nota: 8
Digite a 2ª nota: 10
Aprovado com Distinção

Exercício 6

In [ ]:
nm1 = float(input('Digite o 1º número'))
nm2 = float(input('Digite o 2º número'))
nm3 = float(input('Digite o 3º número'))
if nm1 > nm2 and nm3:
    print(f'{nm1}, é o  maior número')
elif nm2 > nm1 and nm3:
    print(f'{nm2}, é o maior número')
elif nm3 > nm1 and nm2:
    print(f'{nm3}, é o maior número')
elif nm1 == nm2 and nm1 and nm2 > nm3:
    print(f'{nm1}, é o maior número')
elif nm1 == nm3 and nm1 and nm3 > nm2:
    print(f'{n1}, é o maior número')
elif nm2 == nm3 and nm2 and nm3 > nm1:
    print(f'{n2}, é o maior número')

Exercício 21

In [ ]:
print('Bem  Vindo \n')
caixa_eletro = int(input('Forneça o  valor do  saque '))
n1 = 1
n2 = 5 
n3 = 10
n4 = 50
n5 = 100
if caixa_eletro == 256:
  print(n5*n5, n2, n1)
elif caixa_eletro == 399:
  print(n5*3, n4, n3*4,n2,n1*4)
else:
  print('Valor incorreto')
print(caixa_eletro)

Correção do exercício 21

In [ ]:
saque = int(input('Forneça o valor de saque: '))
nota_de_100 = notas_de_50 = notas_de_10 = notas_de_5 = notas_de_1 = 0

notas_de_100, saque = divmod(saque, 100)

notas_de_50, saque = divmod(saque, 50)

notas_de_10, saque = divmod(saque, 10)

notas_de_5, notas_de_1 = divmod(saque, 5)

if notas_de_100 > 0 :
  print(f'{notas_de_100} nota(s) de 100')

if notas_de_50 > 0 :
  print(f'{notas_de_50} nota(s) de 50')

if notas_de_10 > 0 :
  print(f'{notas_de_10} nota(s) de 10')

if notas_de_5 > 0 :
  print(f'{notas_de_5} nota(s) de 5')

if notas_de_1 > 0 :
  print(f'{notas_de_1} nota(s) de 1')

Forneça o valor de saque: 399
3 nota(s) de 100
1 nota(s) de 50
4 nota(s) de 10
1 nota(s) de 5
4 nota(s) de 1

[Estrutura de Repetição](https://wiki.python.org.br/EstruturaDeRepeticao)

exercício 1

In [ ]:
while True:
  try:
    numero = int(input('digite um  valor de 0 a 10: '))
  except ValueError:
    print('Deve ser fornecido um Valor Inteirro')
  else:
    if 0<= numero <= 10:
      print(f'Número informado é: {numero}')
      break
    print('O número deve estra entre o  e 10')

Exercício 2

Exercício 4

In [ ]:
A = 80_000
B = 200_000
tempo = 0

while A < B:
    A = int(A * 1.03)
    B *= 1.015
    B = int(B)
    tempo = tempo + 1

print(f'######## Populações no ano {tempo}')
print(f'População de A: {A}')
print(f'População de A: {B}')

######## Populações no ano 63
População de A: 514954
População de A: 510908

Exercício 7

In [ ]:
maximo = float(input('Digite um número: '))

for _ in range(4):
  maximo = max(maximo,float(input('Digite um número: ')))
  print(f'Número maximo encontrado até agora é: {maximo}')

Exercício 8

In [ ]:
soma = float(input('Digite um número: '))

for n in range(2, 6):
  soma += float(input('Digite um número: '))
  media = soma / n
  print(f'Soma dos números é : {soma}, e a média {media}')

Digite um número: 2
Digite um número: 4
Soma dos números é : 6.0, e a média 3.0
Digite um número: 2
Soma dos números é : 8.0, e a média 2.6666666666666665
Digite um número: 4
Soma dos números é : 12.0, e a média 3.0
Digite um número: 65
Soma dos números é : 77.0, e a média 15.4

[Lista](https://wiki.python.org.br/ExerciciosListas)

exercício 1 de lista / vetor

In [ ]:
lista = [1, 2, 'olá', []]
lista.append(10)
print(lista)

In [ ]:
lista =[]
for _ in range(5) :
  numero = float(input('Digite um número: '))
  lista.append(numero)
print(lista)

Exercício 2

In [ ]:
lista =[]
for _ in range(10) :
  numero = float(input('Digite um número: '))
  lista.append(numero)
  lista.reverse()
print(lista)

Digite um número: 6.9
Digite um número: 50.6
Digite um número: 200
Digite um número: 80.4
Digite um número: 60.5
Digite um número: 230
Digite um número: 30.20
Digite um número: 60.89
Digite um número: 50.2
Digite um número: 89.5
[89.5, 60.89, 230.0, 80.4, 50.6, 6.9, 200.0, 60.5, 30.2, 50.2]

exercício 15 de lista / vetor

In [ ]:
notas = [] # refazer com o  tempo 

while True:
  Entrada = input('Digite um número: ')
  if Entrada == '-1':
    break
  notas.append(float(Entrada))


tamanho = len(notas)
print(f'Foram lidas {tamanho} notas')
print(' '.join([str(nota) for nota in notas]))
notas.reverse()
for nota in notas:
  print(nota)

soma = sum(notas)

print(f'Soma das notas é: {soma}')

media = soma / tamanho

print(f'A média das notas  é: {media}')

print(' '.join([str(nota) for nota in notas if nota > media]))

print(f'NOtas abaixo de 7: {notas}')

print(' '.join([str(nota) for nota in notas if nota < 7]))

print('Isso e tudo pessoal')

Digite um número: 10
Digite um número: 5
Digite um número: 1
Digite um número: -1
Foram lidas 3 notas
10.0 5.0 1.0
1.0
5.0
10.0
Soma das notas é: 16.0
A média das notas  é: 5.333333333333333
10.0
NOtas abaixo de 7: [1.0, 5.0, 10.0]
1.0 5.0
Isso e tudo pessoal

Ex 16

In [ ]:
salarios = [200, 250, 320, 413, 516, 680, 791, 877, 999, 1000, 2000, 3000]
contagem_de_faixa_salarial = [0] * 9
for salario in salarios:
  indice = salario // 100 -2
  indice_maximo = len(contagem_de_faixa_salarial) -1
  indice = min(indice, indice_maximo)
  contagem_de_faixa_salarial[indice] += 1

print(contagem_de_faixa_salarial)

[2, 1, 1, 1, 1, 1, 1, 1, 3]

[Funções](https://wiki.python.org.br/ExerciciosFuncoes)

In [ ]:
def imprimir_triagulo_de_numeros(n:int):
  for i in range(1, n+1):
    for _ in range(i):
     print(i,end= '   ')
    print('')
print('Triangulo com 1')
imprimir_triagulo_de_numeros(1)
print('Triangulo com 2')
imprimir_triagulo_de_numeros(2)
print('Triangulo com 3')
imprimir_triagulo_de_numeros(3)

Exercício 2

In [ ]:
def imprimir_triagulo_de_numeros_crescentes(n:int): # refazer com  o  tempo 
  for linha in range(1, n+1):
    for coluna in range(1, linha +1):
     print(coluna ,end= '   ')
    print('')
print('Triangulo com 1')
imprimir_triagulo_de_numeros_crescentes(1)
print('Triangulo com 2')
imprimir_triagulo_de_numeros_crescentes(2)
print('Triangulo com 3')
imprimir_triagulo_de_numeros_crescentes(3)

Triangulo com 1
1
Triangulo com 2
1
1   2
Triangulo com 3
1
1   2
1   2   3

In [ ]:
# Estudo básico de Função
def soma(*parcelas):
  aux = 0
  for valor in parcelas:
    aux += valor
  return aux
soma(2,4,10)

def f(*args, **kwargs):
    print(*args,**kwargs)
f(2,4,10,), {'nome': 'Gabriel', 'sobrenome' : 'Cunha'}

[Exercício de Strings](https://wiki.python.org.br/ExerciciosComStrings)

Exercício 1

In [ ]:
s1 = input('Digite uma string: ')
s2 = input('Digite outra string: ')

tamanho1 = len(s1)
tamanho2 = len(s2)

print(f'"{s1}": {tamanho1} caracteres')
print(f'"{s2}": {tamanho2} caracteres')

comparacao_de_tamanho = 'diferentes'
comparacao_de_conteudo = 'diferente'

if s1 == s2:
  comparacao_de_tamanho = 'iguais'
  comparacao_de_conteudo = 'igual'
elif tamanho1 == tamanho2:
  comparacao_de_tamanho = 'iguais'

print(f'As duas strings são  de tamanhos {comparacao_de_tamanho}.')
print(f'As duas strings são  possuem conteudo {comparacao_de_conteudo}.')

Exercício 2

In [ ]:
nome = 'Gabriel Henrique da Cunha'.upper()

nome_invertido_por_letras = ''.join(reversed(nome))

nome_invertido_por_palavras = ' '.join(reversed(nome.split()))

print(f'Nome com letras em maiúsculo: {nome}')
print(f'Nome com letras em maiúsculo invertido por letras: {nome_invertido_por_letras}')
print(f'Nome com letras em maiúsculo invertido por palavras: {nome_invertido_por_palavras}')

Nome com letras em maiúsculo: GABRIEL HENRIQUE DA CUNHA
Nome com letras em maiúsculo invertido por letras: AHNUC AD EUQIRNEH LEIRBAG
Nome com letras em maiúsculo invertido por palavras: CUNHA DA HENRIQUE GABRIEL

Exercício 5

In [ ]:
s = 'FULANO'
while s != '':
  print(s)
  s = s[:-1]

FULANO
FULAN
FULA
FUL
FU
F

Exercício 11

In [ ]:
palavra = 'DevPro'.upper()

print('Jogo da Forca')
print('Descubra a palavra')

print('A palavra é:', end='')
for letra in palavra:
  print(f'_ ', end='')

conjunto_letras_palavra = set(palavra)
conjunto_letras_digitadas = set()
erros = 0

while not (conjunto_letras_palavra.issubset(conjunto_letras_digitadas)) and erros < 7:
  print()
  print()
  letra_digitada = input('Digite uma letra: ').upper()
  conjunto_letras_digitadas.add(letra_digitada)
  if letra_digitada in conjunto_letras_palavra:
    print('A palavra é:', end='')
    for letra in palavra:
      if letra in conjunto_letras_digitadas:
        print(f'{letra} ', end='')
      else:
        print('_ ', end='')
  else:
    erros += 1
    print(f'Você errou pela {erros} de 6. Tente de novo!')
 
  print()
  print('letras já digitadas: ', conjunto_letras_digitadas)    

if erros < 7:
  print('Parabèns você ganhou!')
else:
  print('Infelizmente você perdeu!')

[Exercíco com Arquivos](https://wiki.python.org.br/ExerciciosArquivos)

Exercício 1

In [ ]:
def validar(ip:str) -> bool:
  numeros = ip.split('.')

  if len(numeros) != 4:
    return False

  for n in numeros:
    if not (0 <= int(n) <= 255):
      return False
  return True

ips_validos = []
ips_invalidos = []
with open('sample_data/ips.txt', 'r') as arquivo:
  for linha in  arquivo:
    ip = linha.strip()
    if validar(ip):
      ips_validos.append(ip)
    else:
      ips_invalidos.append(ip) 


with open('sample_data/ips_saida.txt', 'w') as arquivo:
  arquivo.writelines('[Endereços Validos:]\n')


  for ip in ips_validos:
    arquivo.writelines(f'{ip}:\n')

  arquivo.writelines('\n')
  arquivo.writelines('\n')
  arquivo.writelines('[Endereços Invalidos:]\n')

  for ip in ips_invalidos:
    arquivo.writelines(f'{ip}:\n')

Exercício 2

In [ ]:
lista_de_dados=[]

def transformar_em_megabytes(tamanho_em_bytes:str) -> float:
  return int(tamanho_em_bytes)/ (2**10) **2 


with open('sample_data/usuarios.txt', 'r') as arquivo:
  for linha in arquivo:
    linha = linha.strip()
    usuario = linha[:15]
    tamanho_em_disco = transformar_em_megabytes(linha[16:])
    lista_de_dados.append((usuario,tamanho_em_disco))

cabecalho = '''ACME Inc.               Uso do espaço em disco pelos usuários
------------------------------------------------------------------------
Nr.  Usuário        Espaço utilizado     % do uso
'''
with open('sample_data/relatorio.txt', 'w') as arquivo:
  tamanho_total_consumido = sum([tamanho for _,tamanho in lista_de_dados])
  media = tamanho_total_consumido / len(lista_de_dados)
  arquivo.writelines(cabecalho)
  for indice, dados in enumerate(lista_de_dados, start=1):
    usuario, tamanho_em_disco = dados
    arquivo.writelines(
        f'{indice:<4}    {usuario} {tamanho_em_disco:9.2f} MB      '
        f'{tamanho_em_disco/tamanho_total_consumido:>6.2%}% \n'
        )

  arquivo.writelines('\n')
  arquivo.writelines(f' tamanho_total_consumido : {tamanho_total_consumido:.2f} MB\n')
  arquivo.writelines(f'Espaço médio ocupado: {media:.2f} MB')

[Exercícios de Classes ](https://wiki.python.org.br/ExerciciosClasses)

Exercício 1

In [ ]:
class Circulo :
  def __init__(self):
    self.cor = 'Azul'
    self.circuferencia = 4
    self.material = 'Aço'
      


  def mostra_cor(self, ):
    return self.cor

  def troca_cor(self, cor):
    self.cor = cor 

circulo_primeiro = Circulo()
print(id(circulo_primeiro), circulo_primeiro.mostra_cor())
print(circulo_primeiro.cor)

139676130647888 Azul
Azul

Exercício 2

In [ ]:
class Quadrado:
  def __init__(self, lado = 1):
    self.lado = lado

  def calcular_area(self):
    return self.lado ** 2 

quadrado = Quadrado (4)
print(quadrado.lado, quadrado.calcular_area())

4 16